<div class="container feed-columns">
  <% if current_user %>
    <div class="user-info">
      <div class="user-info--image"><%= image_tag current_user.profile_image %></div>
      <div class="user-info--names">
        <div class="user-info--names__name"><%= current_user.name %></div>
      </div>
      <div class="user-info--index"><%= link_to 'index friends', reindex_friends_path %></div>
    </div>
    <div class="friend-list">
      <% current_user.twitter_users.order(:name).each do |friend| %>
        <div class="friend-list--friend">
          <div class="friend-list--friend__name"><%= friend.name %></div>
          <div class="friend-list--friend__screen_name">@<%= friend.screen_name %></div>
          <div class="friend-list--friend__analyze">(<%= link_to 'analyze', analyze_user_path(friend.uid) %>)</div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>Hi! Sign in at the top-right.</p>
  <% end %>
</div>
