<div class="trainer fullscreen">
  <% if @tweet.present? %>
    <div class="trainer-user-info">
      <%= image_tag @tweet.user_picture_url %>
      <div class="trainer-user-info-text">
        <%= @tweet.user_name %> <br>
        <div class="trainer-user-info-text-alt">
          @<%= @tweet.user_handle %>
        </div>
      </div>
    </div>
    <div class="trainer-tweet-text">
      <%= (Twitter::Autolink.auto_link @tweet.tweet_text).html_safe %>
    </div>
    <div class="trainer-options">
      <%= link_to 'delete', @tweet, method: :delete %>
      <%= link_to 'news', tweet_path(@tweet, tweet: {classification: 'news'}), method: :put %>
      <%= link_to 'opinion', tweet_path(@tweet, tweet: {classification: 'opinion'}), method: :put %>
      <%= link_to 'neither', tweet_path(@tweet, tweet: {classification: 'neither'}), method: :put %>
    </div>
  <% else %>
    <p>You're out of tweets.</p>
  <% end %>
</div>